<div class="container " style="width:500px;font-size: 0.85rem;">
    <h3>Plugin Details</h3>
    <table class="table table-hover table-striped">
        <tr>
            <th>
                <f:translate key="tx_nsmobile_domain_model_mobile.id" extensionName="nsMobile" /> :
            </th>
            <td>{uid}</td>
        </tr>
        <tr>
            <th>
                <f:translate key="tx_nsmobile_domain_model_mobile.CType" extensionName="nsMobile" /> :
            </th>
            <td>{CType}</td>
        </tr>
        <tr>
            <th>
                <f:translate key="tx_nsmobile_domain_model_mobile.items" extensionName="nsMobile" /> :
            </th>
            <td>{pi_flexform_transformed.settings.number}</td>
        </tr>
        <tr>
            <th>
                <f:translate key="tx_nsmobile_domain_model_mobile.storage" extensionName="nsMobile" /> :
            </th>
            <td>{pages}</td>
        </tr>
    </table>
</div>