<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="image">
	<f:translate key="tx_nsmobile_domain_model_mobile.image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="price">
	<f:translate key="tx_nsmobile_domain_model_mobile.price" />
</label><br />
	<f:form.textfield property="price" id="price" /><br />
<label for="feature">
	<f:translate key="tx_nsmobile_domain_model_mobile.feature" />
</label><br />
	<f:form.textarea property="feature" id="feature" cols="40" rows="15" /><br />
</html>