<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-ns-mobile" >
	<tr>
		<td><f:translate key="tx_nsmobile_domain_model_mobile.image" /></td>
		<td>{mobile.image.originalResource.name}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_nsmobile_domain_model_mobile.price" /></td>
		<td>{mobile.price}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_nsmobile_domain_model_mobile.feature" /></td>
		<td>{mobile.feature}</td>
	</tr>
</table>
</html>